<%= render 'layouts/header' %>
   <div class="main-content-cover-pic"></div>
    <div class="main-content-body row">
        <%= render 'layouts/profile' %>
        <div class="col" id="tweets-col">
        <%= render "commentform" %>
        <p class="tweets-titlebar">ChitChat</p>
        <%= render @comments %>
        </div>
        <div class="col followers-col">
          <p>Who to follow</p>
           <% @users.each do|user| %>
              
               <div class="row j-between">
                 <div class="row s-person">
                  <% show_users(user)%>
                  <%= user_avatar(user) %>
                  <p class="follower-name"><span class="f-name"><%= user.name %></span> <i class="fas fa-check-circle"></i><br><span class="u-name">@<%= user.username %></span></p></div>
                  </div>
                 <%= user_fan(user) %>
            <% end %>
        </div>
    </div>
</div>