<div class="col form-col">
  	<p class="text-center"> <img src="http://gravatar.com/avatar/3b1a49dfd7e18269912a1a4774d4cb44?size=50" alt="logo" id="logo" style="margin-bottom:0;"></p>
  	<h1 class="text-center">Sign up</h1>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  	<%= form_with model: @user do |f| %> 

			<%= f.label :name %>
			<%= f.text_field :name, class: 'input-bar d-block' %> 

      <%= f.label :username %>
      <%= f.text_field :username, class: 'input-bar d-block' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'input-bar d-block' %>

      <%= f.submit "Sign Up", class: "auth-btn d-block" %>
    <% end %>

    <p class="text-center">Already Signed Up? <%= link_to "Log in!", login_path , class: 'color-black' %></p>
</div>

