  <%= render 'layouts/header' %>
    <div class="main-content-cover-pic"></div>
    <div class="main-content-body row">
        <%= render 'layouts/profile' %>
        <div class="col" id="tweets-col">

            <p class="tweets-titlebar">Twitter</p>

            <%= render @comments %>

        </div>
        <div class="col followers-col">
            <p>You are Following</p>
           <% @current_user.following.each do|user| %>
              
               <div class="row j-between">
                 <div class="row s-person">
                    <p>user_avatar(user)</p>
                    <p class="follower-name"><span class="f-name"><%= user.name %></span> <i class="fas fa-check-circle"></i><br><span class="u-name">@<%= user.username %></span></p></div>
                    
               </div>
               
            <% end %>

             <p>Followed By</p>
           <% @current_user.followers.each do|user| %>
              
               <div class="row j-between">
                 <div class="row s-person">
                    <p>user_avatar(user)</p>
                    <p class="follower-name"><span class="f-name"><%= user.name %></span> <i class="fas fa-check-circle"></i><br><span class="u-name">@<%= user.username %></span></p></div>
                    
               </div>
               
            <% end %>

            <% if @current_user == @user %>
            <%= "#{@current_user.username}'s page" %>
            <% elsif @current_user.followers.include?(@user) %>
            <%= button_to "UnFollow #{@user.username}",     
                     unfollow_user_path, method: "POST" %>
            <% else %>
            <%= button_to "Follow #{@user.username}", follow_user_path, 
                  method: "POST"  %>
            <% end %>

        </div>
    </div>
</div>