
  <div class="col form-col">
  	<p class="text-center"> <img src="http://clipart-library.com/images/BigAp9ri8.png" alt="logo" id="logo" style="margin-bottom:0;"></p>
  	<h1 class="text-center">Sign up</h1>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

  	<%= form_with model: @user do |f| %> 

			<%= f.label :name %>
			<%= f.text_field :name, class: 'input-bar d-block' %> 

      <%= f.label :username %>
      <%= f.text_field :username, class: 'input-bar d-block' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'input-bar d-block' %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'input-bar d-block' %>

      <%= f.label :avatar, class: 'd-block text-center'%>
      <%= f.file_field :avatar , class: 'custom-file-input'%>


      <%= f.submit "Sign Up", class: "auth-btn d-block" %>
    <% end %>

    <p class="text-center">Already Signed Up? <%= link_to "Log in!", login_path , class: 'color-black' %></p>
  </div>
