<div class="col tweet-stats-col">
            <p>
                <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar , class: "m-profile-pic", alt: "profile-picture" %> 
                <% else %>
                <%= image_tag gravatar_image_url(current_user.email, size:40), class: 'm-profile-pic' %>
                <% end %>
            </p>
            <p class="user-fullname"><%= current_user.name %> <i class="fas fa-check-circle"></i></p>
            <p class="user-username">@<%= current_user.username %> </p> 
            
            <div class="row tweet-stats">
                <div class="stat-col">
                    <p class="tweet-stat-title">Tweets</p>
                    <p class="tweet-stat-number"><%= current_user.comments.count %></p>
                </div>
                <div class="stat-col">
                    <p class="tweet-stat-title">Following</p>
                    <p class="tweet-stat-number"><%= @current_user.followers.count %></p>
                </div>
                <div class="stat-col">
                    <p class="tweet-stat-title">Followers</p>
                    <p class="tweet-stat-number"><%= @current_user.following.count %></p>
                </div>
            </div>

            <div class="row j-between">
                <%= button_to "Delete Profile",{:action => 'destroy',
                                            :controller => 'users',:id => current_user.id }, 
                                            {:method => :delete, :class => "deletebtn"} %>
                <%= link_to "Edit Profile", edit_user_path(current_user) ,:class => 'editbtn'%>
            </div> 
        </div>